@mixin Post() {
    &--post {
        &__header {
            float: left;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: start;
            height: 100px;
            font-size: 2rem;

            color: #fdf8e3;

            &__image {
                width: 100px;
                height: 100px;

                background-color: #fdf8e3;

                border-radius: 50%;
            }

            &__title {
                text-indent: 10px;
            }

            &__author-date {
                margin-top: 5px;
                margin-left: -5px;
                padding-top: 5px;
                padding-left: 10px;
                font-size: 0.875rem;

                border-top: 1px solid #fdf8e3;
            }
        }

        &__content {
            clear: both;
            padding: 3%;
            box-sizing: border-box;

            color: #ecebe8;
            font-size: 1.125rem;
        }
    }
}