@mixin Navbar() {
    
    &__navbar {
        z-index: 10;
        position: fixed;
        width: 100%;
        padding: 20px 0;

        font-size: 1.25rem;
        font-weight: 400;

        @media (max-width: 768px) {
            background-color: #5d2f67;
        }

        &__navbar-content {
            width: 1000px;
            max-width: 95%;
            margin: 0 auto;

            &__button {
                direction: inherit;
                margin-right: 10px;
                padding: 5px 20px 9px 20px;
                transition: background-color 300ms linear;

                color: #eda72e;
                text-decoration: none;

                border-radius: 30px;

                &:hover {
                    background-color: #89688d;
                }
            }
        }
    }
}